html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "arial narrow", "helvetica";
}

p {
  padding-left: 15px;
  padding-right: 15px;
}

a {
  color: #000000;
}

h1 {
  font-size: 60px;
}


.container {
  display: flex;
}

  
.main {
  position: relative; 
  top: 150px; 
  padding-right 200px
  padding-left: 50px;
  min-width: 75%;
}

.about {
  background-color: rgb(00,135,0);
   width: 200px;
}

